# ======================
# Pixi
# ======================
.pixi/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# macOS
# ======================
.DS_Store

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Fichiers temporaires
# ======================
*.log
*.tmp

# ======================
# DATA
# ======================
data/
*.html
!script/graph_component/index.html
*.tsv

# ======================
# Claude Code
# ======================
.claude/

# ======================
# Divers
# ======================
.vscode/
pymol_session/

# ======================
# Script temporaire
# ======================
script/compare.py

# ======================
# Backups
# ======================
*.bak