# ======================
# Pixi
# ======================
.pixi/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# macOS
# ======================
.DS_Store

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Fichiers temporaires
# ======================
*.log
*.tmp

# ======================
# DATA
# ======================
# Ignorer tout data/ sauf les CSV nécessaires au Streamlit
data/*
!data/filtered/
data/filtered/*
!data/filtered/filtered_all_data.csv
!data/filtered/filtered_summary.csv
!data/filtered/filtered_pdb_entry.csv
!data/filtered/binding_site_roles.csv
!data/filtered/proteins_per_pdb.csv
!data/filtered/patches_infos_s1_binding_site.csv
!data/filtered/patches_infos_cluster_data_70.csv
!data/filtered/details/
data/filtered/details/*
!data/filtered/details/1.interactions.csv
!data/filtered/details/2.proteins.csv
!data/filtered/details/3.interface_residues.csv
!data/filtered/details/4.inter-residue_contacts.csv
!data/filtered/details/5.ligands.csv
!data/filtered/details/6.meta_alignement.csv
!data/filtered/details/7.alignment_sequences.csv
!data/filtered/details/8.structures.csv
*.html
!script/graph_component/index.html
*.tsv

# ======================
# Visualisations
# ======================
visualisations/

# ======================
# Claude Code
# ======================
.claude/

# ======================
# Divers
# ======================
.vscode/
pymol_session/

# ======================
# Script temporaire
# ======================
script/compare.py