# ======================
# Pixi
# ======================
.pixi/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# macOS
# ======================
.DS_Store

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Fichiers temporaires
# ======================
*.log
*.tmp

# ======================
# DATA
# ======================
data/
*.html
*.tsv

# ======================
# Visualisations
# ======================
visualisations/

# ======================
# Claude Code
# ======================
.claude/

# ======================
# Script temporaire
# ======================
script/compare.py